.pre-menu {
  background-color: #ad7614;
}

.contact-info a{
  text-decoration: none;
  text-align: center;
  padding-left: 60px;
}

.email{
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.email:hover{
  color: black;
  opacity: 0.6;
  transition: 0.4s;
}

.brand-icon a i:hover{
  color: black;
  transition: 0.4s;
}

.logo-img{
  height: 90px;
  width:140px;
  padding-top: 10px;
  
}

.college-name{
  font-family: 'Montserrat', sans-serif;
  /* font-family:'Almarai', sans-serif; */
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
  color: #ad7614;
  text-align: center;
  text-shadow: 8px 4px 8px #ad7614;
  letter-spacing: 3px;
}

.college-name span{
  text-shadow: none;
}

/* .enquiry-btn{
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #01b3ef;
} */

.hr-line{
  
  color: #ad7614;
  border: 2px solid;
}

.stick-navi{
  position: sticky;
  top: 0px;
  z-index: 1;
}


.nav-item{
  padding: 0px 25px;
  letter-spacing: .3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.nav-item a:hover{
  color: #ad7614;
  text-shadow: 4px 7px 4px #285b13;
  transition: 0.3s;
}

/* .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
} */

.dropdown:hover > .dropdown-menu {
  display: block;
}


/* .navbar-nav .nav-item .dropdown-menu:hover{
  transition: 1s;
} */

.carousel-caption{
  margin-bottom: 200px;
}

.carousel-caption p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000000A6;
}

.carousel-caption p a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.carousel-caption p a{
  background-color: #01b3ef;
  /* text-shadow: 1px 4px 1px black; */
  transition: 0.2s;
  border: 1px solid #01b3ef;
  color: white;
}

/* .carousel-caption h4{
  color: #01b3ef;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 20px;
} */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c2cad0 0%,
    #a25200 29%,
    /* #ff1361 67%, */
    #a25200 67%,
    #285b13 100%
  );
  background-size: auto auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-weight:900;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 58px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about-section{
  background-image: url('/assets/img/bg11.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  /* background-position: 50% 0; */
}


.about{
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #000000A6;

}

.about p span{
  color: #a25200;
}
/* 
.about-image{
 opacity: 0.8;
} */

.about-image{
  background-image: url('/assets/img/pngegg.png');
  background-size: cover;
  background-position: center;
}

.doc-img{
  border-radius: 50px;
  width: 75%; 
  height: 500px;
  position: relative; 
  left: 50px;
}

.about-sec p{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'DM Sans', sans-serif; */
  font-size: 17px;
  color: black;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}

.about-sec h2 span{
  color: #a25200;
}

.about-sec p span{
  color: #a25200;
}

.about-sec button{
  border: 1px solid #a25200;
  color: #a25200;
}
.about-sec button:hover{
  background-color: #a25200;
  color: white;
  border: #a25200;
}

.counter-clock{
  padding-top: 50px;
  background-image: url('/assets/img/pattern-4.png');
}

.counter-clock h3{
  font-family: 'Montserrat', sans-serif;
  color: #000000A6;
}


:root{
  --color1 : #50aefb;
  --color2 : #3184C9;
}
.counter{
  color: #999;
  font-family: 'Hind', sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}
.counter .counter-icon{
  font-size: 25px;
  color: #a25200;
  line-height: 25px;
  margin: 0 0 40px;
}
.counter .counter-value{
  color: var(--color2);
  background-color: #fff;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 30px;
  padding: 7px 0 3px;
  margin: 0 0 40px;
  display: block;
  position: relative;
}
.counter .counter-value:before{
  content: '';
  background: linear-gradient(var(--color1),var(--color2));
  height: 70px;
  width: 70px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.counter h3{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 10px;
  letter-spacing: 0.3px;
}
.counter.pink{
  --color1: #ff82e0;
  --color2: #de66c0;
}
.counter.green{
  --color1: #2cdae3;
  --color2: #1EA8B0;
}
.counter.purple{
  --color1: #a89ef8;
  --color2: #8577F3;
}
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}   

/* .anim-icons .icons{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.spin-one {
  animation: fa-spin 10s infinite linear;
}

.icon-line-2{
  width: 90;
  height: 90;
  background-image: url('/assets/img/icon-line-2.png');
} */

.gal{
  background-image: url('/assets/img/icon-dotted-map-3.png');
}


.gal-btn{
  font-size: 14px;
  padding: 15px 60px;
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 0.5px;
  color: white;
  background-color: #191e24;
  transition: all 300ms;
}

.theme-1{
  background-color: rgb(240, 237, 237);
  text-transform: uppercase;
  margin-top: 30px;
  padding: 15px 60px;
  border: none;
  font-size: 18px;
  color: black;
  border-radius: 50px;
  letter-spacing: 1px;
  font-weight: 500;
}

.gal-btn:hover{
  /* transition: all 400ms ease-in-out; */
 background-color: #a25200;
 border: #a25200 ;
}


.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.footer{
  background-image: url('/assets/img/footer.jpg');
}

.footer a{
  color: white;
}

.f-name{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  font-weight: 700;
}

.explore-sec a{
 text-decoration: none;
}

.explore-sec a:hover{
  color: #01b3ef
 }

 .copyright-sec span{
 padding-top: -100px;
 }


 .lab-head{
  text-transform: capitalize;
  font-size: 48px;
  font-family: 'Play', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
 }


 .theme-2{
  font-size: 28px;
  letter-spacing: 0.6px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  /* border-bottom: 1px solid red; */
  /* content: "";
  position: absolute;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(7, 255, 255, 0.5);
  z-index: 1; */
  /* text-decoration: underline;
  text-decoration-color: #01b3ef ; */
  
 }

 .first-yr p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
 }

.card-title{
  font-family: 'play', sans-serif;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 22px;
}

/* Media Queries */



 /* @media (max-width < 360px) {
  .about-image {
    width: 0%;
    height: 0px;
    left: 0px; }
   } */


 /* @media (max-width: 370px) {
  .doc-img {
    width: 0%;
    height: 0px;
    left: 0px; }
   } */


 @media only screen and (max-width: 567px) {
    .logo-img {
   margin-left: 120px; } }
   
      /* max-width = @media only screen and (max-width: 600px) {...}
       What this query really means is, “If [device width] is less than or equal to 600px, then do {...}.” */

  @media only screen and (max-width: 567px){
    
  }